<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CodeTok - Index</title>
</head>
<body class="index-page">
<div class="hero-container">
    <div class="logo-area">
        <h1>Code<span>Tok</span></h1>
    </div>

    <div class="action-area">
        <div class="auth-options">
            <th:block th:if="${session.user == null}">
                <a th:href="@{/login}" class="btn-secondary">Login</a>
                <a th:href="@{/register}" class="btn-outline">Sign Up</a>
            </th:block>

            <th:block th:if="${session.user != null}">
                <a th:href="@{/dashBoard}" class="btn-secondary">Go to Dashboard</a>
            </th:block>
        </div>
    </div>
</div>
</body>
</html>